{% extends 'base.html.twig' %}
    {% block body %}
        {% for mensaje in app.flashes('success') %}
            <p>{{ mensaje }}</p>
        {% endfor %}
        <div>
            <h2>PAGINA INICIO CLIENTES</h2>
            <a href="{{ path('newUser') }}">Registro</a>
        </div>
        <div>
            <h2>METODOS DE FILTRADO</h2>
            <a href="{{ path('userEdades') }}">Rango edades entre 20 y 50 años</a>
            <br>
            <a href="{{ path('cateY') }}">Categoria Y</a>
            <br>
            <a href="{{ path('notApellido') }}">No se apellida Núñez Sánchez</a>
        </div>
    {% endblock %}